psycopg2
psycopg2-binary
python-dotenv
PyMuPDF
Pillow
torch
numpy
nltk
bs4
sentence-transformers
pytesseract
pydantic
requests
urllib3
supabase
pandas
pdfplumber
flask
Werkzeug
pdf2image
langgraph
fastapi
pymongo
uvicorn
langchain == 0.3.27
langchain-core == 0.3.76
langchain-community == 0.3.27
langchain-huggingface == 0.3.1
langchain-google-genai == 2.1.8
python-multipart
selenium
flask_cors
opencv-python